<!-- <div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-6 text-center">
            <button class="btn btn-primary btn-lg mr-5">Cardiovascular Disease</button>
            <button class="btn btn-secondary btn-lg">Diabetes disease</button>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-8">
            <div class="card d-flex " style="margin-top: 80px;">
                <div class="card-header d-flex justify-content-between">
                    <h3 class="col-auto">
                        Make Prediction
                    </h3>
                    <div class="col-auto">
                        <button class="btn btn-success" data-toggle="modal" data-target="#exampleModal">upload</button>
                    </div>
                </div>
                <div class="card-body">
                    <!-- <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a> -->

                    <form #pre="ngForm" (ngSubmit)="getPred(pre.value)">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="Gender">Gender</label>
                                        <select class="form-control" ngModel name="Gender" id="Gender">
                                            <option value="Male">Homme</option>
                                            <option value="Female">Femme</option>
                                            <option value="Autres">Autres</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="Height">Height</label>
                                        <input type="number" ngModel class="form-control" name="Height" id="Height">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="Height">Weight</label>
                                        <input type="number" ngModel class="form-control" name="Weight" id="Weight">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="DateNais">Date Nais</label>
                                        <input type="date" ngModel class="form-control" name="DateNais" id="DateNais">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="Blood_Type">Blood Type</label>
                                        <select class="form-control" ngModel name="Blood_Type" id="Blood_Type">
                                            <option value="A">A</option>
                                            <option value="B">B</option>
                                            <option value="AB">AB</option>
                                            <option value="O">O</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="Temperature">Temperature</label>
                                        <input type="number" ngModel name="Temperature" class="form-control"
                                            id="Temperature">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="Heart_Rate">Heart_Rate</label>
                                        <input type="number" ngModel name="Heart_Rate" class="form-control"
                                            id="Heart_Rate">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="Blood_Pressure">Blood_Pressure</label>
                                        <input type="number" ngModel name="Blood_Pressure" class="form-control"
                                            id="Blood_Pressure">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="Cholesterol">Cholesterol</label>
                                        <input type="number" ngModel name="Cholesterol" class="form-control"
                                            id="Cholesterol">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="Smoking">Smoking</label>
                                        <select class="form-control" ngModel name="Smoking" name="Smoking" id="Smoking">
                                            <option value="Yes">OUI</option>
                                            <option value="No">NON</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3"></div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>