<div class="container-fluid px-5" style="margin-top: 70px;">
    <h3>Diabete Predictions</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Gender</th>
                <th scope="col">Height</th>
                <th scope="col">Weight</th>
                <th scope="col">Blood Type</th>
                <th scope="col">Temperature</th>
                <th scope="col">Heart Rate</th>
                <th scope="col">Blood Pressure</th>
                <th scope="col">Cholesterol</th>
                <th scope="col">Smoking</th>
                <th scope="col">DateNais </th>
                <th scope="col">Prediction</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="prediction.diab">
                <th scope="row">1</th>
                <td>{{ prediction.diab.Gender }}</td>
                <td>{{ prediction.diab.Height }}</td>
                <td>{{ prediction.diab.Weight }}</td>
                <td>{{ prediction.diab.Blood_Type }}</td>
                <td>{{ prediction.diab.Temperature }}</td>
                <td>{{ prediction.diab.Heart_Rate }}</td>
                <td>{{ prediction.diab.Blood_Pressure }}</td>
                <td>{{ prediction.diab.Cholesterol }}</td>
                <td>{{ prediction.diab.Smoking }}</td>
                <td>{{ prediction.diab.DateNais }}</td>
                <td *ngIf="prediction.prediction==1">NO</td>
                <td *ngIf="prediction.prediction==0">YES</td>
            </tr>
        </tbody>
    </table>
</div>